body {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}
.home-button{
    display: flex;
    justify-content: center;
}

.card{
    /* From https://css.glass */
    background: rgba(225, 206, 206, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid rgba(225, 206, 206, 0.3);
    margin: auto;
    padding: 2%;
}
.box{
    display: flex;
    justify-content: center;
    /* background-color: #b2ad7f */
}

h1{
    /* background-color: #a2b9bc; */
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}
.pasta-salad-img {
  width: 50%;
  height: 50%;
}

ul li{
    font-size: 16px;
}
ol li{
    font-size: 16px;
}
