
.card{
    /* From https://css.glass */
    background: rgba(248, 241, 241, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(225, 206, 206, 0.3);  
}

.title{
    text-align: center;
}

.recipe-book{
    width: 45%;
    display: inline-flex;
    justify-content: left;
    padding: 20px;
}

.recipe-book-img{
    width:80%;
    height: 80%;
    margin: 0 auto;
}

.recipe-list{
    padding-top: 10px;
    display: inline-block;
    width: 45%;
    height: 100%;
    vertical-align: top;
}

.pasta, .beef, .salad, .ramen{
    transition: transform .2s;
    width: 40px;
}

p{
    display: inline;
}

.pasta:hover, .beef:hover, .salad:hover, .ramen:hover{
    transform: scale(1.5);
}

.pasta-container, .beef-container, .salad-container, .ramen-container{
    text-align: center;
}

.pasta-container{
    padding-bottom: 8%;
}

.beef-container{
    padding-bottom: 8%;
}

.salad-container{
    padding-bottom: 8%;
}